/* global css var */
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    --blue: #1e90ff;
    --white: #ffffff;
    --off-gray: #5e5e5e;
    --dark: #333333;
}

html, body {
    height: 100%;
    background-color: var(--dark) !important;
    color: white !important;
    font-size: 1.5em;
}

h1 {
    padding-bottom: 0.5rem;
}

h3 {
    color: var(--blue) !important;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

.office {
    border-bottom: solid var(--off-gray) 1px;
    margin: 3em, 0em;
    padding: 2em, 0em;
    align-items: center;
}

.col-head {
    color: var(--blue);
}

.container {
    height: 100% !important;
    max-width: 1500px !important
}